<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Better Bard</title>
</head>
<body>
  <form method="GET" action="">
    <input type="text" name="q" placeholder="Search..." value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>

  {% if search_query %}
    <p>Results: {{ chats|length }}</p>
  {% endif %}

  {% if chats %}
    <ul>
      {% for chat in chats %}
        <li>
          <a href="/chat/{{ chat.pk }}">
            <h1>
              {% if search_query %}
                {{ chat.headline_name|safe }}
              {% else %}
                {{ chat.name }}
              {% endif %}
              -- {{ chat.created_date }}
            </h1>
          </a>
          <p>
            {% if search_query %}
              {{ chat.headline_context|safe }}
            {% else %}
              {{ chat.context }}
            {% endif %}
          </p>
          {% if search_query %}
            <ul>
              {% for message in messages %}
                {% if message.chat_id == chat.id %}
                  <li>{{ message.headline_parts|safe }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No results found.</p>
  {% endif %}

  <a href="/chat/new">Create New Chat</a>
</body>
</html>
