<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutor Some stuff</title>
</head>
<body>
<a href="/chat">CHAT</a>
Make a profile
<br>
Upload a textbook / choose a subject
<br>
Write a test to check your knowledge
<br>
Create notes of the subject
<br>
Create a study plan
<br>
Create a study group (???)
<br>
Start teaching sections through targeted questions
<br>
Create a test for the student
<br>
Mark the test with very detailed feedback
<br>
Create a study plan for the student
<br>
</body>
</html>